/* ------------------------------------------------------------------------------------ */
/* GENERAL                                                                              */
/* ------------------------------------------------------------------------------------ */
body {
    font-family: 'Roboto';
    font-size: 16px;
}

img {
    max-width: 100%;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #cccccc;
}

.bg-dark {
    background: #313536;
    color: #fff;
}

.orange-bg {
    background: #fcb936;
}

.title-section {
    display: block;
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 25px;
    width: 100%;
}

.highlight-section {
    color: #fab915;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-section:after {
    content: '';
    background: #fab915;
    bottom: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 60px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}






/* ------------------------------------------------------------------------------------ */
/* TOP BUTTON                                                                           */
/* ------------------------------------------------------------------------------------ */
#top-button {
    background: url("../img/general/top.png") no-repeat center center #fcb936;
    border: 2px solid #fcb936;
    bottom: 30px;
    cursor: pointer;
    position: fixed;
    height: 60px;
    right: 30px;
    width: 60px;
    opacity: 0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: .3s;
    -moz-transition:    .3s;
    -ms-transition:     .3s;
    -o-transition:      .3s;
}

body.active #top-button {
    opacity: 1;
}

#top-button:hover,
#top-button:focus {
    border-color: #000;
}


/* ------------------------------------------------------------------------------------ */
/* HEADER                                                                               */
/* ------------------------------------------------------------------------------------ */
#header-content {
    display: block;
    width: 100%;
}

#header-content .navbar-brand {
    padding: 0;
    margin: 0;
    height: auto;
}

#header-content .navbar {
    height: 130px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    -moz-transition:    .3s;
    -ms-transition:     .3s;
    -o-transition:      .3s;
}

body.active #header-content .navbar {
    background: #212324;
    height: 80px;
    padding: 5px 15px;
}

#header-content .navbar-default {
    background: #212324;
    background: rgba(33, 35, 36, 0.75);
    border: none;
}

#header-content .nav.navbar-nav {
    padding: 11px 45px;
}

#header-content .nav li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: .3s;
    -moz-transition:    .3s;
    -ms-transition:     .3s;
    -o-transition:      .3s;
}

#header-content .nav li a:hover,
#header-content .nav li a:focus,
#header-content .nav li a.active {
    color: #fcb936;
}

#header-content .nav.navbar-nav.navbar-right {
    text-align: right;
    padding: 16px 15px;
}

#header-content .nav.navbar-nav.navbar-right span {
    color: #fff;
    text-transform: uppercase;
}

#header-content .nav.navbar-nav.navbar-right a {
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    font-size: 20px;
}


/* ------------------------------------------------------------------------------------ */
/* FOOTER                                                                               */
/* ------------------------------------------------------------------------------------ */
#footer-content {
    background: #212324;
    display: block;
    padding: 20px 0 5px;
    width: 100%;
}

#footer-content p {
    color: #fff;
    font-size: 12px;
    margin: 0 0 15px;
}

#footer-content .social-content {
    float: right;
}

#footer-content .social-content li {
    margin: 0 15px;
}

#footer-content .social-content li a {
    display: block;
    height: 16px;
    margin: 0 15px;
    width: 16px;
    opacity: 1;
    -webkit-transition: .3s;
    -moz-transition:    .3s;
    -ms-transition:     .3s;
    -o-transition:      .3s;
}

#footer-content .social-content li a:hover,
#footer-content .social-content li a:focus {
    opacity: 0.7;
}

#footer-content .social-content li a.facebook-icon {
    background: url("../img/general/facebook-icon.png") no-repeat center center;
}




/* ------------------------------------------------------------------------------------ */
/* SLIDER                                                                               */
/* ------------------------------------------------------------------------------------ */
#slider-content {
    display: block;
    width: 100%;
}

#slider-content .slider-text {
    position: absolute;
    left: 0;
    top: 40%;
    right: 0;
}

#slider-content .slider-text .highlight {
    color: #fab915;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
}

#slider-content .slider-text .title {
    margin: 0 0 40px;
    font-weight: 400;
}

#slider-content .carousel-control {
    -webkit-transition: .3s;
    -moz-transition:    .3s;
    -ms-transition:     .3s;
    -o-transition:      .3s;
}

#slider-content .carousel-control .glyphicon {
    height: 45px;
    width: 45px;
}

#slider-content .carousel-control .glyphicon:before {
    display: none;
}

#slider-content .carousel-control.left .glyphicon {
    background: url("../img/general/prev.png") no-repeat center center;
}

#slider-content .carousel-control.right .glyphicon {
    background: url("../img/general/next.png") no-repeat center center;
}

.carousel-indicators .active {
    background: #fab915;
    border-color: #fab915;
}



/* ------------------------------------------------------------------------------------ */
/* ABOUT                                                                                */
/* ------------------------------------------------------------------------------------ */
#about-content {
    display: block;
    padding: 100px 0;
    width: 100%;
}











/* ------------------------------------------------------------------------------------ */
/* SERVICE                                                                              */
/* ------------------------------------------------------------------------------------ */
#service-content {
    display: block;
    padding: 100px 0;
    width: 100%;
}

.service-one {
    text-align: center;
}

.service-one img {
    border: 2px solid #fab915;
    padding: 10px;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.service-one .subtitle {
    display: block;
    margin: 10px 0 30px;
}





/* ------------------------------------------------------------------------------------ */
/* GALLERY                                                                               */
/* ------------------------------------------------------------------------------------ */
#gallery-content {
    display: block;
    padding: 100px 0;
    width: 100%;
}

.gallery-one {
    margin: 0 0 30px;
}









/* ------------------------------------------------------------------------------------ */
/* CONTACT                                                                              */
/* ------------------------------------------------------------------------------------ */
#contact-content {
    background: url("../img/contact/map-dark.jpg") no-repeat center center #313536 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    padding: 100px 0;
    width: 100%;
}

.contact-map {
    display: block;
}

.contact-map iframe {
    height: 450px;
    width: 100%;
}






/* ------------------------------------------------------------------------------------ */
/* PARTNERS                                                                             */
/* ------------------------------------------------------------------------------------ */
#partners-content {
    display: block;
    padding: 20px 0;
    width: 100%;
}






